html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color:#c0e4ff;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #fffb00;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #fffb00;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #ffa600;
}

.formSubmit, button {
    transition: background-color 0.4s ease;
    text-align: center;
    margin: 0 auto;
    margin-left: 10px;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #fffb00;
    border-radius: 2px;
    border-color: #ffa600;
    padding: 3px 0px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: rgb(0, 0, 0);
}

.formSubmit:hover, button:hover {
    transition: background-color 0.4s ease;
    background-color: #ffa600;
}

#username, #password{
    padding: 5px;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#moneyMessage h3 {
    width: 500px;
    position: absolute;
    left: 5px;
    bottom: 0;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    font-style: italic;
}

.money{
    padding-left: 10px;
}

.moneyList{
    text-align: center;
    padding-top: 30px;
}

button{
    height:100px
}